:root{
    --fontColor1:#fff;
    --fontColor2:#000;
    --fontColor3:#030436;
    --bgColor1:#2df0f0;
    --bgColor2:#F1E9E9;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:var(--bgColor1);
}
.container{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

//responsividade

@media(max-width:500px){
    .container{
        justify-content:start;
        padding:15px;
    }
}